:root {
  --sidebar-zindex: 11;
  --modal-zindex: 2000;
}

/* custom scrollbar  */
html::-webkit-scrollbar {
    width: 0.6em;
    background-color: #E91E63; /* Add a background for the track */
}
html::-webkit-scrollbar-thumb {
    background-color: #E91E63;
    border-radius: 10px;
}
html::-webkit-scrollbar-thumb:hover {
    background-color: #E91E63;
}

html {
    scrollbar-width: thin;
    scrollbar-color:  #E91E63 #f1f1f1; /* thumb color, track color */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

/* start loading spinner  */
.loader-container {
    display: none;
}
.loader-content {
    width: 100%;
    height: 100vh;
    background-color: rgba(196, 196, 209, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;

}

.loader {
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: mulShdSpin 1.1s infinite ease;
  transform: translateZ(0);
}
@keyframes mulShdSpin {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.5), -1.8em -1.8em 0 0em rgba(255,255,255, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.5), 1.8em -1.8em 0 0em rgba(255,255,255, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.5), 2.5em 0em 0 0em rgba(255,255,255, 0.7), 1.75em 1.75em 0 0em #ffffff, 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.5), 1.75em 1.75em 0 0em rgba(255,255,255, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.5), 0em 2.5em 0 0em rgba(255,255,255, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.5), -1.8em 1.8em 0 0em rgba(255,255,255, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.5), -2.6em 0em 0 0em rgba(255,255,255, 0.7), -1.8em -1.8em 0 0em #ffffff;
  }
}

/* end loading spinner */


/* for select 2 */
.select2-container {
    width: 100% !important;
}
.select2-container .select2-selection--single {
    width: 100% !important;
    height: 43px;
}
.select2-container .select2-selection--multiple {
    width: 100% !important;
    height: 43px;
}

/* modal box backdrop fix */
.modal-dialog {
    margin-top: 80px;
}
.border-purple {
    border: 3px solid #dc12d1;
}

.modal-content {
    background-color: #0e2443;
    color: #fff;
}



.btn i {
    font-style: normal;
    font-weight: 400;
    font-size: 1.3rem !important;
}

/* icon with text For button */
.btn-icon-text {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    width: 100px;
}


/* for summernot */
/* Summernote Modal Fixes */
.note-editor .note-modal {
  overflow: visible;
}

.note-editor .note-modal-footer {
  height: auto;
  padding: 10px;
}

.note-editor .note-modal-body {
  overflow: visible;
}

.note-modal-backdrop.in {
  opacity: 0.5;
}

.note-modal-footer {
    height: 80px;
}

/* dropdown noti width */
.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .navbar-dropdown
{
    min-width: 400px;
    max-height: 400px;
    overflow-y: auto;
}

/* noti bell */
.noti-icon:hover {
    cursor: pointer;
}

/* navbar */
.sidebar {
    z-index: var(--sidebar-zindex);
}

/* Hover + active styles only on the nav-link */
.sidebar .nav .nav-item .nav-link:hover,
.sidebar .nav .nav-item .nav-link:focus,
.sidebar .nav .nav-item .nav-link:active {
    background-color: #E91E63 !important;
    border-radius: 8px !important;
    color: #fff;
    /* cursor: pointer; */
}

.sidebar .nav .nav-item:hover {
    cursor: pointer !important;
}

/* Optional: highlight active menu item */
.sidebar .nav .nav-item.active > .nav-link {
    background-color: var(--bs-pink);
}

.btn-pink {
  background-color: var(--bs-pink) !important;
  color: #fff !important;
  border-color: var(--bs-pink) !important;
}

.btn-pink:hover {
  background-color: color-mix(in srgb, var(--bs-pink) 85%, black);
  border-color: color-mix(in srgb, var(--bs-pink) 85%, black);
}


@media(max-width: 400px) {
    .navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .navbar-dropdown {
        width: 100% !important;
        min-width: 100% !important;
        left: 0 !important;
        right: auto !important;
    }
}
